body {
    font-family: 'Barlow', sans-serif;
    font-weight: medium;
    color: #262420;
    background: #f7f8fc;
    hyphens: auto;
}

.logo {
    font-family: 'Barlow', sans-serif;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

#preamble {
    font-family: 'Barlow', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.skip-nav-link {
    position: absolute;
    transform: translateY(-120%);
    padding: 0.5rem 1.5rem;
    left: 0.5rem;
}

.skip-nav-link:focus {
    transform: translateY(0);
}

#content {
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    text-align: justify;
}

h1 {
    margin: 0;
    padding: 12pt 0 6pt 0;
    font-size: 180%;
    text-align: center;
    font-weight: 600;
}

h2 {
    margin: 1em 0 0 0;
    font-size: 150%;
    margin-top: 1em;
    font-weight: 600;
}

h3 {
    font-size: 110%;
    font-style: italic;
}

#content h4 {
    font-size: 100%;
    font-style: italic;
}

#preamble div.published {
    font-style: italic;
    color: #666;
    text-align: center;
}

#content div.published p {
    font-style: italic;
    color: #666;
    font-size: 90%;
    padding: 0;
    margin: 0 0 12pt 0;
}

#content h2:hover::before {
    content: "§";
    display: block;
    float: left;
    margin: 0 -1.2em 0 -1.2em;
    color:  #ccccd0;
}

#footer {
    margin-top: 0.5em;
}

#postamble {
    margin: 12px auto;
    padding: 0;
    font-size: 0.7em;
    color: #99999a;
    border-top: 1px solid #ccc;
}

#postamble p {
    border: 0;
    padding: 0;
    margin: 0;
}

a:hover {
    color: #3a4aca;
}

.biglink {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 105%;
    font-weight: bold;
    padding: 0 16px;
    margin: 1.5em 0;
    background-image: url('/images/link.svg');
    background-repeat: no-repeat;
    background-position: 22px;
    background-size: 24px 24px;
    background-color: aliceblue;
}

.biglink img {
    width: 48px;
    max-width: 48px;
}

.biglink p {
    margin-left: 48px;
}

.org-center {
    text-align: center;
}

a {
    text-decoration: none;
    color: #286774;
}

dt::after {
    content: ":";
}

figure {
    margin: 1.3em 0 1.3em 0;
    padding: 0;
}

img {
    display: block;
    margin: 2em auto;
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #eeeeee;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-size: 90%;
    font-style: italic;
    color: #444;
}

code {
    font-family: 'PT Mono', 'PT Mono', monospace;
    font-weight: 500;
}

table {
    border-collapse: collapse;
    border: 0;
    margin-top: 1em;
    margin-bottom: 1.5em;
    width: 100%;
}

th {
    color: #ffffff;
    background: #665f55;
    font-size: 85%;
}

tr:nth-child(odd) {
    background: #efefef;
}

tr:nth-child(even) {
    background: #f9f9f9;
}

th, td {
    padding: 8px 10px;
}

caption {
    margin-top: 12pt;
    margin-bottom: 4pt;
}

blockquote {
    text-indent: 1.5em;
    font-size: 110%;
}

.callout:before {
    font-weight: bold;
    display: inline;
    float: left;
    margin-top: 18px;
    margin-left: -46px;
    content: "!";
    font-size: 300%;
    color: #333;
}

.callout {
    margin: 2em 0;
    padding: 0 2em 0 80px;
    border: 2px solid #cc7;
    border-radius: 4px;
    background: #ffa;
}

pre {
    background: #33333f;
    color: #fff;
    overflow: auto;
    padding: 12pt;
    border: 2px solid #666;
    border-radius: 4px;
    font-size: 12pt;
    font-family: 'PT Mono', 'PT Mono', monospace;
    margin-top: 2em;
    margin-bottom: 2em;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.post {
    margin: 10pt 0 10pt 0;
    padding: 20pt;
    border: 1px solid #ccc;
}

.morelink {
    font-weight: bold;
}

.tags {
    font-size: 90%;
    color: #668;
}

.tag {
    display: block;
    font-family: inherit;
    font-size: 0.7em;
    font-style: italic;
}

h2.date {
    padding: 0;
    margin-top: -0.6rem;
    font-weight: normal;
    text-align: center;
    font-size: 110%;
    font-style: italic;
    color: #666;
}

/* Resume stuff */

#content .resumecontact p {
    text-align: center;
}

.skills p {
    padding: 0;
    margin: 3pt 0 3pt 0;
}

#content .work-experience h3,
#content .education h3 {
    margin-bottom: 0;
    padding-bottom: 0;
    list-style-type: none;
    list-style-position: unset;
}

#content .work-experience h4,
#content .education h4 {
    font-family: inherit;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: unset;
    font-style: noraml;
    font-weight: 100;
}

@media screen and (max-width: 50rem) {
    body {
        font-size: 12pt;
    }

    #preamble {
        font-size: 10pt;
    }

    #preamble,
    #content,
    #postamble {
        min-width: 18rem;
        width: auto;
        margin: 0 2rem;
        padding: 0;
    }

    h1 {
        font-size: 160%;
    }

    h2 {
        font-size: 120%;
    }

    #preamble nav {
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        padding-bottom: 0.8rem;
    }
    
    .navitem {
        font-size: 10pt;
        padding: 2pt 2pt 2pt 2pt;
    }

    nav {
        margin-bottom: 1em;
    }

    dt {
        float: left;
        clear: left;
        width: 5.8rem;
        text-align: right;
        font-weight: bold;
        font-size: 1em;
    }
    
    dd {
        margin: 0 0 0 6.3rem;
        padding: 0 0 0.1rem 0;
    }
}

@media screen and (min-width: 50rem) {
    body {
        font-size: 14pt;
    }

    #preamble nav {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        padding-bottom: 0.8rem;
    }
    
    #preamble,
    #content,
    #postamble {
        width: 50rem;
    }

    .navitem {
        font-size: 18pt;
        padding: 6pt 6pt 4pt 6pt;
    }

    dt {
        float: left;
        clear: left;
        width: 8.0em;
        text-align: right;
        font-weight: bold;
        font-size: 1em;
    }
    
    dd {
        margin: 0 0 0 9.0em;
        padding: 0 0 0.1em 0;
    }
}
